VITE_INTRIC_API_BASE_URL="http://localhost:3001/api"
VITE_STREAM_DEFAULT="true"

VITE_ASSISTANT=

# Provide an api key, or a combination of application name and hash
VITE_APPLICATION=
VITE_HASH=
VITE_INTRIC_API_KEY=

# Use trailing slash for base path
VITE_BASE_PATH="/"
VITE_PORT=

VITE_HOSTS=localhost:5173,localhost:4173

# Background image src url
VITE_BACKGROUND_IMAGE=